/* .wave-container {
  height: 100%;
  width: 100%;
}
.wave {
  background-color: #3f68c5;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
} */
