.home-page {
  display: flex;
  flex-direction: column;
  margin-inline: 1.3021vw;
  width: 100%;
}

.welcome-msg {
  font-family: var(--header-font);
  font-size: var(--header-text);
  text-align: center;
}

@media (max-width: 800px) {
  .home-page {
    margin-inline: 0;
    margin-top: 20px;
  }

  .welcome-msg {
    font-size: 48px;
  }
}
