.home-page {
  display: flex;
  flex-direction: column;
  margin-inline: 1.3021vw;
  width: 100%;
}

.home-page-header {
  padding-top: 1rem;
  display: flex;
}

.welcome-msg {
  font-family: var(--header-font);
  font-size: var(--header-text);
  /* text-align: center; */
}

.stats-container {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  width: 40vw;
}

.home-page h3 {
  font-size: 25px;
}

@media (max-width: 800px) {
  .home-page {
    margin-inline: 0;
    margin-top: 20px;
  }

  .home-page-header {
    display: block;
  }
  .welcome-msg {
    font-size: 48px;
    text-align: center;
  }

  .stats-container {
    justify-content: space-around;
    width: 100vw;
    margin: 0;
  }

  .home-page h3 {
    text-align: center;
    font-size: 32px;
  }
}
