.signup-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/wave.jpg);
  background-size: cover;
  background-color: var(--background-color);
  background-blend-mode: multiply;
}
.signup-container {
  padding: 5em;
  background-color: var(--primary-color);
  text-align: center;
  width: 50vw;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  font-family: var(--content-font);
  width: 70%;
}

.signup-form button {
  width: 30%;
  align-self: center;
}

.signup-title {
  font-family: var(--header-font);
  font-size: var(--header-text);
}

.signup-redirect {
  font-family: var(--content-font);
  font-size: var(--body-text);
}

@media (max-width: 900px) {
  .signup-container {
    min-width: 80vw;
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup-title {
    font-size: 36px;
  }

  .signup-form {
    width: 80%;
  }

  .signup-form input {
    width: 80%;
  }

  .signup-form button {
    font-size: 24px;
  }

  .signup-redirect a,
  .signup-redirect {
    font-size: 16px;
  }
}
