.signup-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/wave.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.signup-container {
  padding: 7.5em;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  height: 30px;
  padding: 5px;
  font-size: var(--body-text);
  font-family: var(--content-font);
}

.signup-form button {
  width: 30%;
  align-self: center;
}

.signup-title {
  font-family: var(--header-font);
  font-size: var(--header-text);
}

.signup-redirect {
  font-family: var(--content-font);
  font-size: var(--body-text);
}
