.signup-container {
  background-color: var(--transparent-bg);
  border-radius: 5px;
  padding: 5em;
  text-align: center;
  width: 50vw;
}

.signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.signup-form input {
  border: none;
  border-radius: 5px;
  font-family: var(--content-font);
  font-size: 16px;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  width: 70%;
}

.signup-form button {
  align-self: center;
  width: 30%;
}

.signup-title {
  font-family: var(--header-font);
  font-size: var(--header-text);
}

.signup-redirect {
  font-family: var(--content-font);
  font-size: var(--body-text);
}

@media (max-width: 900px) {
  .signup-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    padding-inline: 0;
  }

  .signup-title {
    font-size: 36px;
  }

  .signup-form {
    width: 80%;
  }

  .signup-form input {
    width: 80%;
  }

  .signup-form button {
    font-size: 24px;
  }

  .signup-redirect a,
  .signup-redirect {
    font-size: 16px;
  }
}
