.project-card {
  background-color: var(--card-color);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
  width: 30%;
}

.project-card-header {
  font-size: var(--card-text);
  margin-block: 0;
  margin-bottom: 0.25em;
}

.project-card-body {
  font-size: var(--card-text);
  margin-block: 0;
  overflow-wrap: normal;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.project-card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.reqDelete-container {
  backdrop-filter: (12px);
  background-color: var(--background-color);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.reqDelete-body {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  height: 75%;
  margin: auto;
  margin-top: 0.5em;
  width: 75%;
}

.reqDelete-header {
  font-size: var(--modal-text);
  margin-bottom: 10px;
  margin-top: 10px;
}

.reqDelete-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 0.25em;
}

.reqDeleteContainer-bg {
  backdrop-filter: (12px);
  background-color: var(--background-color);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1200px) {
  .project-card {
    width: 40%;
  }

  .project-card__header {
    font-size: 24px;
  }

  .project-card__body {
    font-size: 24px;
  }

  .project-card__buttons button {
    font-size: 24px;
  }

  .reqDelete-header {
    font-size: 24px;
  }

  .reqDelete-btns {
    flex-direction: column;
  }

  .reqDelete-btns button {
    font-size: 20px;
    width: 90%;
    margin-inline: auto;
  }

  .reqDelete-body {
    height: 80%;
    justify-content: center;
    width: 80%;
  }
}

@media (max-width: 900px) {
  .project-card-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .project-card-buttons {
    flex-direction: column;
  }

  .project-card {
    margin-bottom: 1em;
    margin-inline: auto;
    width: 80%;
  }
}
