.modal-bg {
  z-index: 9999;
  backdrop-filter: (12px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 60%;
  border-radius: 0.25rem;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.modal-top {
  width: 100%;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

.close-modal {
  align-self: flex-start;
  color: var(--orange-color);
}

.modal-plankton {
  width: 15%;
  max-height: 100%;
  font-size: 12px;
  justify-self: end;
}
