.modal-bg {
  position: fixed;
  z-index: 9999;
  backdrop-filter: (12px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.modal-container {
  background-color: var(--primary-color);
  width: 60%;
  border-radius: 0.25rem;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.modal-top {
  width: 100%;
  padding-top: 3vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.close-modal {
  align-self: flex-start;
  position: absolute;
  right: 5px;
  top: 0px;
  height: auto;
  width: 50px;
  color: var(--orange-color);
}

.modal-plankton {
  width: 15%;
  max-height: 100%;
}

@media (max-width: 900px) {
  .modal-container {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100vw;
    height: 100vh;
  }

  .modal-plankton {
    display: none;
  }
}
