.modal-bg {
  position: relative;
  z-index: 9999;
  backdrop-filter: (12px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 60%;
  border-radius: 0.25rem;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.modal-top {
  width: 100%;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

.close-modal {
  align-self: flex-start;
  color: var(--orange-color);
}

.modal-plankton {
  width: 15%;
  max-height: 100%;
  justify-self: end;
}
@media (max-width: 800px) {
  .modal-container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .modal-bg {
    position: relative;
  }
}
