.wave2 {
  height: 100%;
  width: 100%;
}

.wave2-box {
  height: 100%;
  width: 100%;
  /* width: 500px;
  height: 500px; */
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.wave2 {
  display: none;
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.75);
  animation: wave 15s infinite linear;
  transition: top 0.5s;
}

.wave2-show {
  display: block;
  top: -25%;
}

.wave2-top {
  top: 10%;
  animation-play-state: paused;
}

.wave2-box:hover .wave2 {
  top: -25%; /* Reset the top position to its original value */
}

.wave2-box:hover .wave2 {
  animation-play-state: running;
}

.hide {
  display: none;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/* .wave2-box {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.wave2 {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.75);
  animation: wave 5s infinite linear;
  transition: top 2s;
} */
