.navbar {
  align-items: center;
  background-color: var(--new-blue);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 100vh;
  padding-block: 2.5em;
  padding-left: 1.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 13vw;
  z-index: 2;
}

.line {
  background-color: var(--orange-color);
  height: 1px;
  width: 75%;
}

.desktop-links-container {
  color: #f6f1f1;
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  font-size: var(--link-text);
  height: 30vh;
  justify-content: space-around;
  margin-top: -10rem;
}

.open-mobile-menu,
.closeMobileMenu {
  display: none;
}

.mobile-links-container {
  display: none;
}

.mobile-menu-container {
  display: none;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: row;
    height: 20vh;
    min-height: 20vh;
    padding-inline: 1rem;
    width: 100%;
  }

  .mobile-menu-container {
    display: inline-block;
  }

  .desktop-links-container {
    display: none;
  }

  .hamburger {
    height: auto;
    min-width: 70px;
    width: 10vw;
  }

  .openMobileMenu {
    color: black;
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .mobilenav__exit {
    height: auto;
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    width: 15vw;
  }

  .mobile-nav-container {
    align-items: center;
    background-color: var(--new-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    padding-block: 10vh;
    width: 100vw;
  }

  .mobilenav__button {
    font-size: clamp(30px, 6vw, 45px);
  }

  .mobilenav__link {
    font-size: clamp(50px, 8vw, 64px);
  }

  .exit-mobile-menu {
    color: black;
  }
}
