.bug-section h3 {
  font-size: var(--subheader-text);
  font-weight: 600;
  margin-block: 0.25em;
}

.update-bug-form label {
  display: inline-block;
  font-size: var(--modal-text);
  width: 20%;
}

.update-bug-form input,
.update-bug-form select,
.update-bug-form textarea {
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 0.75rem;
  padding: 5px;
  width: 70%;
}

.bug-info-section-dates input {
  margin-right: 1.5rem;
  width: 20%;
}

.update-bug-form input:read-only {
  background-color: #eee;
}

.bug-project-section select {
  width: 70%;
}

.bug-status-section select,
.bug-status-section input {
  margin-right: 1.5rem;
  width: 20%;
}

.bug-updates-section textarea {
  height: 100px;
  width: 80%;
}

.update-bug-form-buttons button {
  margin-right: 1.5rem;
}

.mobile-break {
  display: none;
}

@media (max-width: 600px) {
  .update-bug-form label {
    font-size: 16px;
  }

  .mobile-break {
    display: block;
  }

  .bug-info-section-dates input,
  .bug-status-section input {
    width: 30%;
  }

  .bug-status-section select {
    width: 40%;
  }

  .update-bug-form-buttons button {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .update-bug-form label {
    width: 30%;
  }

  .update-bug-form input,
  .update-bug-form select,
  .update-bug-form textarea {
    width: 100%;
  }

  .update-bug-form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
