.add-bug-page {
  width: 100%;
}

.add-bug-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0 auto;
  width: 90%;
}

.add-bug-header {
  color: black;
  font-size: var(--subheader-text);
}

.plankton-img {
  max-height: 100%;
  padding-top: 1rem;
  width: 20%;
}
