.filter-container {
  background-color: inherit;
}

.selected-tab {
  background-color: var(--new-blue);
}

.tab {
  border-radius: 0;
  margin-bottom: 0.5rem;
  padding: 14px 14px;
  transition: 0.3s;
}
