.addproject-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addproject-header {
  font-size: var(--subheader-text);
  color: black;
  align-self: center;
}

.addproject-form label {
  color: black;
  font-size: var(--modal-text);
}

.addproject-form input {
  width: 70%;
}

.addproject-form-row {
  width: 75%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-block: 0.5em;
  padding-inline: 10%;
}

.addproject-button {
  width: 35%;
  align-self: center;
  margin-top: 1.5em;
}

@media (max-width: 900px) {
  .addproject-header {
    font-size: 32px;
  }

  .addproject-form label {
    font-size: 24px;
  }

  .addproject-form button {
    font-size: 24px;
  }
}
