.add-project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-project-header {
  align-self: center;
  color: black;
  font-size: var(--subheader-text);
}

.add-project-form label {
  color: black;
  font-size: var(--modal-text);
}

.add-project-form input {
  width: 70%;
}

.add-project-form-row {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-block: 0.5em;
  padding-inline: 10%;
  width: 75%;
}

.add-project-button {
  align-self: center;
  margin-top: 1.5em;
  width: 35%;
}

@media (max-width: 900px) {
  .add-project-header {
    font-size: 32px;
  }

  .add-project-form label {
    font-size: 24px;
  }

  .add-project-form button {
    font-size: 24px;
  }
}
