.page-container {
  height: 100vh;
}

.layout {
  display: flex;
  background-color: var(--cream-color);
}

.flex-row {
  display: flex;
}

p {
  font-family: var(--content-font);
}

input,
textarea,
select {
  background-color: #eee;
  border: 2px solid #ccc;
}

input:focus,
textarea:focus,
select:focus {
  border-color: green;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
}
