.page-container {
  height: 100vh;
}

.layout {
  background-color: var(--cream-color);
  display: flex;
}

p {
  font-family: var(--content-font);
}

input,
textarea,
select {
  background-color: #fff;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
}
