:root {
  /* Colors */
  --cream-color: #e5dad3;
  --background-color: rgba(0, 0, 0, 0.3);
  --primary-color: #f6f1f1;
  --card-color: #efebe8;
  --orange-color: #ff8a29;
  --new-blue: #1e89a5;
  --dark-blue: #205085;
  --water-color: #0184bd;
  --transparent-bg: rgba(229, 218, 211, 0.3);

  /* Font Sizes */
  --link-text: clamp(12px, 1.1719vw, 22px);
  --header-text: clamp(36px, 3.125vw, 60px);
  --subheader-text: clamp(20px, 2.0833vw, 32px);
  /* Todo: add clamp below */
  --modal-text: 1.5625vw;
  --body-text: 1.0417vw;
  --card-text: clamp(14px, 1.3672vw, 24px);

  /* Fonts */
  --content-font: "Gabarito", sans-serif;
  --header-font: "Hammersmith One", sans-serif;
}

/* Utility Classes */
.flex {
  display: flex;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.err-msg {
  color: red;
  margin-top: 5px;
}

.hide {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--content-font);
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--cream-color);
  font-size: var(--link-text);
  font-weight: 500;
}

button {
  background-color: var(--orange-color);
  border-radius: 5px;
  padding: 0.3125rem 1.25rem;
  font-size: var(--link-text);
  text-align: center;
  margin-bottom: 10px;
  border: none;
  font-family: var(--content-font);
}

button:hover {
  transition: all 0.3s;
  opacity: 0.8;
}
