:root {
  /* Colors - Update later */
  --primary-color: cadetblue;
  --secondary-color: darkgoldenrod;

  /* Font Sizes */
  --link-text: 16px;
  --header-text: 48px;
  --subhead-text: 32px;

  /* Add Fonts Later */
  --header-font: "Brush Script MT";
  --subhead-font: "Georgia";
  --content-font: "Verdana";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
