:root {
  /* Colors - Update later */
  --primary-color: #f6f1f1;
  --secondary-color: #19a7ce;
  --water-color: #0184bd;

  /* Font Families */
  --title-text: ;
  --header-text: ;
  --body-text: ;

  /* Font Sizes */
  --link-text: 16px;
  --header-text: 48px;
  --subheader-text: 32px;
  --body-text: 16px;

  /* Add Fonts Later */
  --header-font: "Brush Script MT";
  --subhead-font: "Georgia";
  --content-font: "Verdana";

  /* Stacking */
  --modal-zindex: 3;
  --wave-zindex: 2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  /* background-color: #fff5b8; */
  /* #ef6c57; */
  background-color: #ffbfc3;
  border-radius: 5px;
  padding: 5px 20px;
  font: normal bold 18px "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  border: none;
}

button:hover {
  transition: all 0.3s;
  background-color: #ff9fa6;
}
