.bug-modal-title {
  font-family: var(--header-font);
  font-size: var(--header-text);
  font-weight: normal;
  margin-block: 1em;
  text-align: center;
}

.bug-modal-body {
  line-height: 1.4;
  padding-inline: 0.5rem;
  width: 90%;
}
