.modal-bg {
  z-index: 99999;
  backdrop-filter: (12px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.modal-container {
  background-color: var(--primary-color);
  width: 60%;
  border-radius: 0.25rem;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.modal-plankton {
  width: 20%;
  max-height: 100%;
  font-size: 12px;
  justify-self: end;
}

.bugmodal-title {
  font-size: var(--header-text);
  font-family: var(--header-font);
}

.bugmodal-body {
  font-size: var(--body-text);
  font-family: var(--content-font);
}
