/* Need to add on focus for border color & background color & regular border color */

.modal-plankton {
  width: 10%;
  max-height: 100%;
  justify-self: end;
  display: none;
}

.bug-modal-title {
  font-size: var(--header-text);
  font-family: var(--header-font);
  margin-block: 1em;
  font-weight: normal;
  text-align: center;
}

.bug-modal-body {
  font-size: var(--card-text);
  font-family: var(--content-font);
  width: 90%;
  line-height: 1.4;
  padding-inline: 0.5rem;
}

.bug-modal-body p {
  margin-block: 0.25em;
  border: 2px solid green;
}

.bug-section-header {
  font-weight: 700;
  margin-block: 0.25em;
}

/* .bug-info {
  display: grid;
  grid-template-columns: auto auto auto;
} */

.bug-info p:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 0.5em;
}

.bug-modal-updates {
  height: 75px;
  width: 80%;
}

/* Old Below */

.bugmodal__section-row {
  display: flex;
}

.bugmodal__row {
  display: flex;
  justify-content: space-between;
  row-gap: 0;
  margin-block: 0.5em;
}

.bugmodal__section {
  margin-bottom: 1.5em;
}

.bugmodal__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Might not need below */
.bugmodal__container {
  display: flex;
  gap: 0 0.4em;
}

.bugmodal__container p {
  margin-block: 1em 0;
}

.recreate-bug {
  height: 50px;
  width: 66%;
}

.bugmodal-buttons {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 1em;
}

.bugmodal-buttons button {
  margin-inline: 2.5vw;
}

.delete-button-cotainer {
  margin-inline: auto;
}

.delete-button {
  text-align: center;
}

.updates-input {
  height: 150px;
  width: 80%;
}

.display-inputs {
  width: 80%;
  border: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.25);
  min-height: fit-content;
}

@media (max-width: 600px) {
  .bugmodal-body,
  .bugmodal__section-header,
  .bugcard p {
    font-size: 24px;
  }

  .display-inputs {
    height: 5em;
    min-height: fit-content;
    font-size: 16px;
  }

  .bugmodal__row {
    flex-direction: column;
  }

  .bugmodal__container {
    margin-bottom: 1em;
  }

  button {
    font-size: 24px;
  }

  .updates-input {
    width: 100%;
  }
}
