.view-bugs {
  min-height: 100vh;
  width: 100%;
}

.view-bugs-header {
  align-items: center;
  margin-left: 1.3021vw;
}

.project-filter-container select {
  max-height: 25px;
  border-radius: 5px;
  align-self: center;
  margin-left: 0.5rem;
}

.bug-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3021vw;
  justify-content: flex-start;
  margin-inline: 1.3021vw;
}

.view-bugs-title {
  font-family: var(--header-font);
  font-size: var(--header-text);
  margin-bottom: 0;
}

.load-more-button {
  width: 100%;
  opacity: 0.5;
}

@media (max-width: 900px) {
  .view-bugs-title {
    text-align: center;
  }

  .project-filter-container {
    justify-content: center;
  }

  .bug-list {
    justify-content: center;
  }
}
