.viewbugs {
  width: 100%;
  z-index: 1;
}

.buglist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.viewbugs-title {
  text-align: center;
  font-family: var(--header-font);
  font-size: var(--header-text);
}
