.viewbugs {
  width: 100%;
  z-index: 1;
}

.buglist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.3021vw;
  margin-inline: 1.3021vw;
}

.viewbugs-title {
  text-align: center;
  font-family: var(--header-font);
  font-size: var(--header-text);
}
