.login-container {
  background-color: var(--transparent-bg);
  border-radius: 5px;
  margin-inline: auto;
  padding: 5em;
  text-align: center;
  width: 50vw;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form input {
  border: none;
  border-radius: 5px;
  font-family: var(--content-font);
  font-size: 16px;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  width: 70%;
}

.login-form button {
  font-family: var(--content-font);
  font-size: var(--body-text);
  width: 30%;
}

.login-form button:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.login-header {
  font-family: var(--header-font);
  font-size: var(--header-text);
}

.login-redirect {
  font-family: var(--content-font);
  font-size: var(--link-text);
}

@media (max-width: 900px) {
  .login-container {
    min-width: 80vw;
    padding-left: 0;
    padding-right: 0;
  }

  .login-form input {
    width: 80%;
  }

  .login-header {
    font-size: 36px;
  }

  .login-form button {
    font-size: 24px;
  }

  .login-redirect {
    font-size: 16px;
  }

  .login-redirect a {
    font-size: 16px;
  }
}
