.bugcard {
  background-color: var(--card-color);
  /* box-shadow: 2px 2px 2px var(--primary-color); */
  text-align: center;
  margin: 10px;
  /* max-width: calc(25% - 20px); */
  flex: 0 0 22%;
  padding-inline: 2em;
  border-radius: 0.5em;
  position: relative;
}

.bucard::before,
.bugcard::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(180deg, var(--orange-color), var(--dark-blue));
}

.bugcard-title {
  font-size: var(--header-text);
  font-family: var(--header-font);
}

.bugcard h3 {
  font-size: var(--card-text);
}

.bugcard p {
  font-size: var(--card-text);
}

.bugcard__button {
  margin-bottom: 1em;
}

.card-row {
  display: flex;
}

.card-plankton {
  width: 40%;
  max-height: 100%;
  margin-top: 10%;
}

.card-row {
  display: flex;
  align-items: baseline;
}

.card-row p {
  margin-left: 0.5em;
}

@media (max-width: 800px) {
  .bugcard {
    flex: 0 0 45%;
  }

  .bugcard h3 {
    font-size: 24px;
  }

  .bugcard p {
    font-size: 14px;

    .card-row {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .bugcard {
    flex: 0 0 80%;
  }
}
