.bugcard {
  background-color: var(--card-color);
  /* box-shadow: 2px 2px 2px var(--primary-color); */
  text-align: center;
  margin: 10px;
  /* max-width: calc(25% - 20px); */
  /* flex: 0 0 22%; */
  width: 22vw;
  padding-inline: 2em;
  border-radius: 0.5em;
  position: relative;
  /* z-index: 2; */
  /* Below works but no rounded */
  /* border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    180deg,
    var(--orange-color),
    var(--dark-blue)
  ); */
}

.bugcard-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 23vw;
  background: linear-gradient(180deg, var(--orange-color), var(--dark-blue));
  border-radius: 0.5em;
}

/* .bucard::before,
.bugcard::after {
  content: "";
  position: absolute;
  inset: -0.5rem;

  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(180deg, var(--orange-color), var(--dark-blue));
} */

.bugcard-title {
  font-size: var(--header-text);
  font-family: var(--header-font);
}

.bugcard h3 {
  font-size: var(--card-text);
}

.bugcard p {
  font-size: var(--card-text);
}

.bugcard__button {
  margin-bottom: 1em;
}

.card-plankton {
  width: 40%;
  max-height: 100%;
  margin-top: 10%;
}

.card-row {
  display: flex;
  align-items: baseline;
}

.card-row p {
  margin-left: 0.5em;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .bugcard {
    width: 30vw;
  }

  .bugcard-bg {
    width: 31vw;
  }
}

@media (max-width: 900px) {
  .bugcard {
    width: 40vw;
  }

  .bugcard-bg {
    width: 41vw;
  }

  .bugcard h3 {
    font-size: 24px;
  }

  .bugcard__button {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .bugcard {
    width: 80vw;
  }

  .bugcard-bg {
    width: 81vw;
  }
}
