.bug-card {
  background: linear-gradient(180deg, var(--orange-color), var(--dark-blue));
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.bug-card-container {
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  border-radius: inherit;
  position: relative;
}

.bug-card-content {
  height: 100%;
  width: 85%;
  background-color: var(--card-color);
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.5rem;
}

.side-container {
  height: 100%;
  width: 15%;
  border-radius: 0 0.5em 0.5em 0;
  background-color: gray;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.content-container {
  border: 1px solid black;
}

.large-text {
  font-size: 20px;
}

.small-text {
  font-size: 14px;
}

.bugcard-due-container {
  display: flex;
  position: absolute;
  bottom: 0;
}

.due-date {
  margin-left: 0.5rem;
}

.fade {
  opacity: 0.5;
}

.test-content-card p {
  margin-top: 0;
}

.newbugcard__button {
  position: absolute;
  right: 18%;
  bottom: 0;
}
